language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
before_install:
  - sudo apt-get install python-numpy python-scipy python-dev python-pip python-nose g++ libopenblas-dev git
install:
  - sudo virtualenv --system-site-packages -p python2.7 theano-env
  - sudo source theano-env/bin/activate
  - sudo pip install Theano
script:
  - python -m unittest classifier_test
